streamlit==1.32.2
torch==2.2.0
opencv-python-headless==4.9.0.80
numpy==1.26.4
streamlit-webrtc==0.47.0
Pillow==10.2.0
protobuf==3.20.3  # Tambahkan ini
rich==13.7.0  # Versi yang kompatibel dengan Streamlit 1.32.2
pyav==9.2.0  # Versi stabil untuk streamlit-webrtc
